{% extends 'base.html.twig' %}

{% block title %}Hello PhotoController!{% endblock %}

{% block body %}
<!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Projects</h2>
          <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel architecto
            accusamus fugit aut qui distinctio</p>
        </div>

       <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
          data-portfolio-sort="original-order">
        <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Tout voir</li>
            {% set unique_categories = set() %}
            {% for picture in pictures %}  
              {% if picture.pictureCategory not in unique_categories %}
                {% set unique_categories = unique_categories | union([picture. pictureCategory]) %}
                <li data-filter=".filter-{{ picture.pictureCategory}}">{{ picture. pictureCategory}}</li>
              {% endif %}
            {% endfor %}
        </ul><!-- End Projects Filters -->
        </div>
          <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% set category_pictures = {} %}
            {% for picture in pictures %} 
              {% if picture. pictureCategory not in category_pictures %}
                {% set category_pictures = category_pictures | union({ picture. pictureCategory: []}) %}
              {% endif %}
              {% set category_pictures = category_pictures | combine({ picture. pictureCategory: category_pictures[picture. pictureCategory] + [picture ]}) %}
            {% endfor %}
            {% for category, pictures_in_category in category_pictures.items() %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-{{ category }}">
                <div class="portfolio-content h-100"> 
                  {% for picture in pictures_in_category %}
                    <img src='../uploads/{{ picture.Filename}}' class="image1">
                    <div class="portfolio-info">
                      <p>{{ picture.description}}</p>
                      <a href='../uploads/{{ picture.Filename}}' class="image1"
                        data-gallery="portfolio-gallery-{{ category }}" class="glightbox preview-link"><i
                          class="bi bi-zoom-in"></i></a>
                    </div>
                  {% endfor %}
                </div>
              </div><!-- End Projects Item -->
            {% endfor %}
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="./img/projects/construction-1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Construction 1</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="./img/projects/construction-1.jpg" title="Construction 1"
                    data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="project-details.html" title="More Details" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="./img/projects/repairs-1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Repairs 1</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="./img/projects/repairs-1.jpg" title="Repairs 1" data-gallery="portfolio-gallery-repairs"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="project-details.html" title="More Details" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


          </div><!-- End Projects Container -->

        </div>

      </div>
    </section><!-- End Our Projects Section -->
{% endblock %}
